<div>
    <form [formGroup]="player">
      <div class="form-group">
        <label>Player Name:</label>
        <input type="text" class="form-control" #name formControlName="name"/>
  
      </div>
      
        

        <button (click)="onSearch(name.value)" class="btn btn-success">Search</button>
        

  </form>
</div>

<br><br>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Player ID</th>
            <th scope="col">Player Name</th>
            <th scope="col">View Details</th>

            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let p of players'>
            
            <td>{{p.pid}}</td>
            <td>{{p.name}}</td>
            <td><button class="btn btn-success" (click)="getPlayerDetails(p.pid)">View</button></td>
            
          </tr>
          
          
        </tbody>
      </table>
</div>